# From: https://stackoverflow.com/a/52295765

# Ignore everything in the home directory
/*

# Track only these files in home directory
!.gitignore
!.bash_aliases

# Track the ~/bin directory (and everything inside *)
!bin/
!bin/*
